body {
  background-color: black;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;

  background-image: url("./img/blackbrickwall.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: center top;

  opacity: 0.5;
}

#title {
  width: 100vw;
  height: fit-content;
}

#title img {
  position: absolute;
  display: block;

  height: auto;
  width: 80vw;
}
