body {
  background-color: black;
}
.wrapper {
  display: block;
  height: fit-content;
}
.wrapper#titleContainer {
  height: 100vh;
  overflow: hidden;
}
#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;

  background-image: url("./img/blackbrickwall.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center top;

  box-shadow: inset 0px -5vh 15vh -5vh black;

  opacity: 0.5;
}

#title {
  width: 100vw;
  height: fit-content;
}

#title img {
  position: absolute;
  display: block;

  height: auto;
  width: 80vw;
}
#enterhere {
  position: absolute;
  width: 10vw;
  top: 85vh;
  left: 45vw;
}

.container {
  color: white;
}

.linkframe {
  background-image: url("./img/frame.png");
  background-repeat: none;
  background-size: contain;
  aspect-ratio: 1410 / 1671;
  width: 300px;

  padding: 6em;
}
